<!DOCTYPE html>

<html>
    <head>
        <!-- Hoja de estilos de bootsrap-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">        
        <!-- Más caracteres y grosor de página adaptable-->
        <meta charset = "UTF-8" content = "width=device-width">
        <!-- Documento de js-->
        <script src = "../public/js/funcionesJS.js"></script>
        <!-- Documento de CSS-->
        <link rel = "stylesheet" href = "../public/css/estilosCSS.css">
        <!-- Título de la página -->
        <title>Formulario de registro</title>
    </head>
    <body id = "page-wide">
        <!-- El encabezado de la página -->
        <div class = "container-fluid bg-success">
            <h1 style = "text-align: center;">Formulario de registro</h1>
        </div>
        <!-- El formulario -->
        <form action = "http://localhost:8080/jugador/insertarJugador" class = "form bg-light p-5" method="POST">
            <!-- Primera fila del formulario 2 registros -->
            <div class = "row">
                <div class = "col-md-6">
                    <label for = "gamertag" class = "form-label">Gamertag</label>
                    <input onclick = "IntroduceTexto('')" required type = "text" class = "form-control" id = "gamertag" name = "gamertag" placeholder = "Escriba su gamertag">
                </div>
                <div class = "col-md-6">
                    <label for = "password" class = "formn-label">Password</label>
                    <input required type = "password" class = "form-control" id = "password" name = "password" placeholder = "Escriba su contraseña">
                </div>
            </div>
            <!-- Segunda fila del formulario 2 registros -->
            <div class = "row">
                <div class = "col-md-6">
                    <label for = "fecha_nacimiento" class = "form-label">Fecha de nacimiento</label>
                    <input required type = "date" class = "form-control" id = "fecha_nacimiento" name = "fecha_nacimiento" placeholder = "Escoga su fecha de nacimiento">
                </div>
                <div class = "col-md-6">
                    <label for = "genero" class = "form-label">Género</label>
                    <select required name="genero" class = "form-control" id = "genero">
                        <option disable selected hidden value="">Seleccione el caracter de su género</option>
                        <option value="M">M</option>
                        <option value="F">F</option>
                    </select>
                </div>
            </div>
            <!-- Tercera fila del formulario 2 registros -->
            <div class = "row">
                <div class = "col-md-6">
                    <label for="email" class = "form-label">Email</label>
                    <input required type="email" class="form-control" id="email" name="email" placeholder="Escriba su email">  
                </div>
                <div class = "col-md-6">
                    <label for="nombre" class = "form-label">Nombre</label>
                    <input required type="text" class="form-control" id="nombre" name="nombre" placeholder="Escriba su nombre">
                </div>
            </div>
            <!-- Cuarta fila del formulario 2 registros -->
            <div class="row">
                <div class="col-md-6">
                    <label for="apellidos" class = "form-label">Apellidos</label>
                    <input required type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Escriba sus apellidos">
                </div>
                <div class="col-md-6">
                    <label for="nacionalidad" class = "form-label">Nacionalidad</label>
                    <select required name="nacionalidad" class = "form-control" id = "nacionalidad">
                        <option disabled selected hidden value="">Seleccione su nacionalidad</option>
                        <option value="mexicana">Mexicana</option>
                        <option value="estadounidense">Estadounidense</option>
                        <option value="rusa">Rusa</option>
                        <option value="irlandesa">Irlandesa</option>
                        <option value="japonesa">Japonesa</option>
                        <option value="china">China</option>
                        <option value="argentina">Argentina</option>
                        <option value="brasileña">Brasileña</option>
                        <option value="australiana">Australiana</option>
                        <option>Otra</option>
                    </select>
                </div>
            </div>
            <!-- Cuarta fila del formulario percepciones 1 y 2 -->
            <div class = "row">
                <div class = "col-md-6">
                    <label for = "percepcion1" class = "form-label">Del 1 al 5, ¿Cuánto le gusta la vocación de Software y servicios de TIC?</label>
                    <select required name = "percepcion1" class = "form-control" id = "percepcion1">
                        <option disabled selected hidden value = "">Seleccione del 1 al 5</option>
                        <option value = "1">1</option>
                        <option value = "2">2</option>
                        <option value = "3">3</option>
                        <option value = "4">4</option>
                        <option value = "5">5</option>
                    </select>
                </div>
                <div class = "col-md-6">
                    <label for = "percepcion2" class = "form-label">Del 1 al 5, ¿Cuánto le gusta la vocación de Biotecnología y ciencias agropecuarias?</label>
                    <select required name = "percepcion2" class = "form-control" id = "percepcion2">
                        <option disabled selected hidden value = "">Seleccione del 1 al 5</option>
                        <option value = "1">1</option>
                        <option value = "2">2</option>
                        <option value = "3">3</option>
                        <option value = "4">4</option>
                        <option value = "5">5</option>
                    </select>
                </div>
            </div>

            <!-- Quinta fila del formulario percepciones 3 y 4 -->
            <div class = "row">
                <div class = "col-md-6">
                    <label for = "percepcion3" class = "form-label">Del 1 al 5, ¿Cuánto le gusta la vocación de Ciencias fisicomatemáticas y de la tierra?</label>
                    <select required name = "percepcion3" class = "form-control" id = "percepcion3">
                        <option disabled selected hidden value = "">Seleccione del 1 al 5</option>
                        <option value = "1">1</option>
                        <option value = "2">2</option>
                        <option value = "3">3</option>
                        <option value = "4">4</option>
                        <option value = "5">5</option>
                    </select>
                </div>
                <div class = "col-md-6">
                    <label for = "percepcion4" class = "form-label">Del 1 al 5, ¿Cuánto le gusta la vocación de Ingeniería industrial y de transporte?</label>
                    <select required name = "percepcion4" class = "form-control" id = "percepcion4">
                        <option disabled selected hidden value = "">Seleccione del 1 al 5</option>
                        <option value = "1">1</option>
                        <option value = "2">2</option>
                        <option value = "3">3</option>
                        <option value = "4">4</option>
                        <option value = "5">5</option>
                    </select>
                </div>
            </div>

            <!-- Sexta fila del formulario percepción 5 -->
            <div class = "row">
                <div class = "col-md-12">
                    <label for = "percepcion5" class = "form-label">Del 1 al 5, ¿Cuánto le gusta la vocación de Farmacéutica y biotecnología?</label>
                    <select required name = "percepcion5" class = "form-control" id = "percepcion5">
                        <option disabled selected hidden value = "">Seleccione del 1 al 5</option>
                        <option value = "1">1</option>
                        <option value = "2">2</option>
                        <option value = "3">3</option>
                        <option value = "4">4</option>
                        <option value = "5">5</option>
                    </select>
                </div>
            </div>


            <br><br><br>
            <!-- Botones de confirmación y cancelación del llenado del formulario -->
            <button onclick = "mensajeBorrar('alert1')" class="btn btn-outline-danger" type="reset">Borrar</button>
            <div class = "alert alert-success alert-dismissible fade show " role = "alert" id = "alert1" style = "display: none">
                <strong>Mensaje:</strong>Ha borrado los datos
                <button type ="button" class ="close" data-dismiss="alert">&times</button>
            </div>
            <button class="btn btn-outline-primary" type="submit">Enviar</button>
        </form>
        <!-- Necesario para bootstrap -->        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    </body>
</html>